
<ion-modal-view>

  <ion-header-bar class="bar-assertive">
    <button class="button button-icon icon ion-ios-arrow-back" ng-click="closeLoginModal()"> {{ 'login-page.back-button' | translate }}</button>
    <h1 class="title">{{ 'login-page.title' | translate }}</h1>
  </ion-header-bar>

  <ion-content class="gray-bg">
    <form ng-submit="doLogin()" class="login_form_box">

      <h2 class="titulo_login">{{ 'login-page.text' | translate }}</h2>
        <label class="item item-input item-floating-label">
        <span class="input-label">{{ 'login-page.user-label' | translate }}</span>
        <input type="text" ng-form='step1form' ng-model="loginData.userId" placeholder="{{ 'login-page.user-placeholder' | translate }}" required>
      </label>

      <label class="item item-input item-floating-label">
        <span class="input-label">{{ 'login-page.pass-label' | translate }}</span>
        <input type="password" placeholder="{{ 'login-page.pass-placeholder' | translate }}">
      </label>
   
      <button ng-disabled="!step1form.$valid" class="button button-block boton-login" type="submit">{{ 'login-page.submit-button-label' | translate }}</button>
      
      {{ 'login-page.register-text' | translate }} <a ng-click="closeLoginModal()" ui-sref="app.registry">{{ 'login-page.register-link-label' | translate }}</a>

    </form>
  </ion-content>
</ion-modal-view>