<ion-view>
  <ion-nav-title>
    {{ 'map-page.title' | translate }}
  </ion-nav-title>
  <ion-content class="cuerposearch">
    <h2 class="colortitulomapa titulo">{{ 'map-page.text' | translate }}</h2>
    <!--<div id="mapa" class="map-container"></div> <!-- map-container no existe -->
	  <div id="infoi">
	  	<button class="button button-float">
        	<i class="icon ion-plus"></i>
        </button>
	    <!--<button class="button button-positive">
      		<i class="icon ion-plus-circled"></i>
   		</button>-->
	  </div>
	<!--</div>-->
    <div id="mapa"><!-- class="container"> -->
    </div>
  </ion-content>
</ion-view>
