<ion-view ng-init="loadDefaultFilter()">
  <ion-nav-title>
    {{ 'map-page.title' | translate }}
  </ion-nav-title>
  <ion-nav-buttons side="right">
      <button class="button button-icon button-clear ion-log-in" 
        ng-show="getCurrentUserId() == null" ui-sref="app.login" ></button>
      <button class="button button-icon button-clear ion-log-out" 
        ng-hide="getCurrentUserId() == null" ng-click="doLogout()"></button>
      
      <button class="button button-icon button-clear ion-ios-information-outline" ui-sref="app.about"></button>
  </ion-nav-buttons>

  <!--<ion-nav-bar class="bar-stable"></ion-nav-bar>-->

  <ion-content class="cuerpo-pantalla">
    <h2 class="colortitulomapa titulo">{{ 'map-page.text' | translate }}</h2>
	  <div id="mapa-new-button">
	  	<button class="button button-float" ng-click="createPOI()">
        <i class="icon ion-plus"></i>
      </button>
	  </div>
    <div id="mapa" class="map-div"></div> <!-- class="container map-container"> -->
  </ion-content>
</ion-view>
