<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
        {{ 'all-menu.back-button-label' | translate }}
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">{{ 'menu.title' | translate }}</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <!-- <ion-item class="item-text-wrap" menu-close ng-click="reloadMap()"> <!--ui-sref="app.map">- ->
          <i class="icon ion-ios-location"></i>
          {{ 'menu.map-item' | translate }} 
        </ion-item> -->

        <!-- Filter of categories -->
        <ion-item ng-click="toggleCategories()" ng-class="{active: areCategoriesShown()}">
          {{ 'menu.categories-item' | translate }}&nbsp;{{Map.getLocation()}}
          <i class="icon" ng-class="areCategoriesShown() ? 'ion-arrow-up-b' : 'ion-arrow-down-b'"></i>
        </ion-item>
          <ion-item class="item-accordion" ng-repeat="category in translatedCategories" ng-show="areCategoriesShown()">
            <ion-checkbox class="checkbox-assertive checkbox-square  item-text-wrap" ng-model="filter.selectedCategories[category.id]">{{category.label}}</ion-checkbox>
          </ion-item>

        <!-- Filter of location -->
        <ion-item ng-click="toggleLocation()" ng-class="{active: isLocationShown()}">
          {{ 'menu.location-item' | translate }} &nbsp;
          <i class="icon" ng-class="isLocationShown() ? 'ion-arrow-up-b' : 'ion-arrow-down-b'"></i>
        </ion-item>
          <ion-item class="item-accordion" ng-show="isLocationShown()">
            <li class="item item-checkbox">
              <div class="checkbox checkbox-square checkbox-assertive">
                <input type="checkbox" ng-model="filter.selectedLocation['google-places']" 
                ng-change="locationSelectionChanged('google-places', 'device-gps')">
              </div>
              <div class="item location-autocomplete-div">
                <div class="location-inline-item location-autocomplete-search-img">
                  <i class="icon ion-ios-location"></i>
                </div>
                <div class="location-inline-item location-autocomplete-input-div">
                    <input type="text" id="location-input" data-tap-disabled="true"
                    ng-change="disableTap()" ng-model="filter.autocompleteLocationFilterInput" 
                    ng-blur="updateGPlacesInput()"
                    placeholder="{{ 'menu.location-autocomplete-search-placeholder' | translate }}"
                    class="location-autocomplete-input">
                </div>
              </div>
            </li>
          </ion-item>
          <!-- Specify 'GPS location' item without div's, using ion-checkbox. The height is not the same than previous
                location item (autocomplete item), so it is implemented with div's too.-->
          <!--<ion-item class="item-accordion" ng-show="isLocationShown()">
            <ion-checkbox class="checkbox-square checkbox-assertive item-text-wrap" 
            ng-model="filter.selectedLocation['device-gps']"
              ng-change="locationSelectionChanged('device-gps', 'google-places')">
              <i class="icon ion-android-locate"></i>&nbsp;{{ 'menu.location-gps-button-text' | translate }}
            </ion-checkbox>
          </ion-item>-->
          <!-- Specify 'GPS location' item with div's -->
          <ion-item class="item-accordion" ng-show="isLocationShown()">
            <li class="item item-checkbox">
              <div class="checkbox checkbox-square checkbox-assertive">      
                  <input type="checkbox" id="device_gps_checkbox" ng-model="filter.selectedLocation['device-gps']" ng-change="locationSelectionChanged('device-gps', 'google-places')">
              </div>
                <div class="item location-gpslocation-div" ng-click="gpsFilterClicked()">
                  <i class="icon ion-android-locate"></i>&nbsp;{{ 'menu.location-gps-button-text' | translate }}
                </div>
            </li>
          </ion-item>

        <!-- Filter of text -->
        <ion-item ng-click="toggleText()" ng-class="{active: isTextShown()}">
          {{ 'menu.text-item' | translate }} &nbsp;
          <i class="icon" ng-class="isTextShown() ? 'ion-arrow-up-b' : 'ion-arrow-down-b'"></i>
        </ion-item>
          <ion-item class="item-accordion" ng-show="isTextShown()">
            <li class="item item-checkbox">
              <div class="checkbox checkbox-square checkbox-assertive">
                <input type="checkbox" ng-model="filter.selectedText" ng-change="textSelectionChanged(false)">
              </div>
              <div class="item location-autocomplete-div">
                <div class="location-inline-item location-autocomplete-search-img">
                  <i class="icon ion-search" ng-click="textSelectionChanged(true)"></i>
                </div>
                <div class="location-inline-item location-autocomplete-input-div">
                    <input type="text" id="location-input" data-tap-disabled="true"
                    ng-model="filter.textFilterInput" 
                    placeholder="{{ 'menu.text-search-placeholder' | translate }}"
                    class="location-autocomplete-input">
                </div>
              </div>
            </li>
          </ion-item>

        <div class="item item-divider"></div>

        <ion-toggle ion-toggle-text ng-true-value="'EU'" ng-false-value="'ES'" toggle-class="toggle-assertive"
          ng-model="textByValue" ng-model="selectedLang" ng-change="changeLang()">
          {{ 'menu.language-item' | translate }}
        </ion-toggle>

        <!--<ion-item class="item-text-wrap" menu-close ng-click="exitApp()">
          <i class="icon ion-android-exit"></i>
          {{ 'menu.exit-item' | translate }} -->
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>

</ion-side-menus>
