<ion-view>
  <ion-nav-title>
    Detalles
  </ion-nav-title>
  <ion-content>

    <img ng-src="img/guggenheim_image.jpg" class="imagen_peticion"/> 

    <div class="movement slideInUp animated">
    
      <div class="list">

        <div class="item item-divider item-text-wrap">
          Punto de interés
        </div>
        <div class="item item-text-wrap">
          <!--{{ 'proposal-statistics-page.ratings.votes-count-item' | translate }} {{currentProposal.votesCount}}-->
          Título: {{poiDetails.documentName}}
        </div>
        <div class="item item-text-wrap">
          Descripción: {{poiDetails.documentDescription}}
        </div>

        <div class="item item-divider item-text-wrap">
          Otros datos
        </div>
        <div class="item item-text-wrap">
          Página web: {{poiDetails.web}}
        </div>
        <div class="item item-text-wrap">
          Email: {{poiDetails.email}}
        </div>
        <div class="item item-text-wrap">
          Teléfono: {{poiDetails.phoneNumber}}
        </div>
        <div class="item item-text-wrap">
          Provincia: {{poiDetails.historicTerritory}}
        </div>

      </div>

    </div>

  </ion-content>
</ion-view>
