<ion-view>
  <ion-nav-title>
    {{ 'poi-details.title' | translate }}
  </ion-nav-title>
  <ion-content>

    <img ng-src="img/guggenheim_image.jpg" class="imagen_superior"/> 

    <div class="movement slideInUp animated">
    
      <div class="list">

        <div class="item item-divider item-text-wrap">
          Punto de interés
        </div>
        <div class="item item-text-wrap">
          <b>{{ 'poi-details.list.name-text' | translate }}</b> {{poiDetails.documentName}}
        </div>
        <div class="item item-text-wrap">
          <b>{{ 'poi-details.list.description-text' | translate }}</b> {{poiDetails.documentDescription}}
        </div>
        <div class="item item-text-wrap">
          <b>{{ 'poi-details.list.category-text' | translate }}</b> {{poiDetails.categoryName}}
        </div>

        <div class="item item-divider item-text-wrap">
          {{ 'poi-details.list.other-data-divider-text' | translate }}
        </div>
        <div class="item item-text-wrap">
          <b>{{ 'poi-details.list.web-text' | translate }}</b>
          <!-- show the web page as link if the datum exists -->
          <a ng-if="poiDetails.web != '-'" href="#" ng-click="goToWebPage()">
            {{poiDetails.web}}
          </a>
          <span ng-if="poiDetails.web == '-'">{{poiDetails.web}}</span>
        </div>
        <div class="item item-text-wrap">
          <b>{{ 'poi-details.list.email-text' | translate }}</b> {{poiDetails.email}}
        </div>
        <div class="item item-text-wrap">
          <b>{{ 'poi-details.list.phone-text' | translate }}</b> {{poiDetails.phoneNumber}}
        </div>
        <div class="item item-text-wrap">
          <b>{{ 'poi-details.list.municipality-text' | translate }}</b> {{poiDetails.municipality}}
        </div>
        <div class="item item-text-wrap">
          <b>{{ 'poi-details.list.province-text' | translate }}</b> {{poiDetails.historicTerritory}}
        </div>
        <div class="item item-text-wrap">
          <b>{{ 'poi-details.list.type-text' | translate }}</b> {{poiDetails.type}}
        </div>

      </div>

    </div>

  </ion-content>
</ion-view>
