<ion-view>
  <ion-nav-title>
    {{ 'proposal-statistics-page.title' | translate }}
  </ion-nav-title>
  <ion-content>

    <div class="movement slideInUp animated">
    
    	<div class="datos_detalle_peticion titulo slideInLeft animated2 statistics-chart">
        <h2>{{currentProposal.title}}</h2>
        <canvas id="pie" class="chart chart-pie" chart-data="data" chart-labels="labels"  chart-legend="true"></canvas>
      </div>
  	</div>
    <div class="list">

      <div class="item item-divider">
        <i class="icon ion-star"></i>
        {{ 'proposal-statistics-page.ratings-title' | translate }}
      </div>
      <div class="item">
        {{ 'proposal-statistics-page.ratings.votes-count-item' | translate }} {{currentProposal.votesCount}}
      </div>
      <div class="item">
        {{ 'proposal-statistics-page.ratings.favor-votes-item' | translate }} {{currentProposal.votesInFavor}}
      </div>
      <div class="item">
       {{ 'proposal-statistics-page.ratings.against-votes-item' | translate }} {{currentProposal.votesAgainst}}
      </div>
      <div class="item">
          <div class="statistics-feedback-rating">
            <span class="statistics-rating-left"> {{ 'proposal-statistics-page.ratings.rating-item' | translate }} {{currentProposal.averageRating}} / 5 </span>
            <span class="feedback-rating-img statistics-rating-left"></span>

            <span class="statistics-rating-right">
              <span>(</span><!--
              --><span ng-show="currentProposal.feedbackError === false && currentProposal.feedbackCount == 1">{{ 'proposal-list-page.proposal.votes-izq' | translate }}</span><!--
              -->{{currentProposal.feedbackCount}}<!--
              --><span ng-show="currentProposal.feedbackError === false && currentProposal.feedbackCount == 1">{{ 'proposal-list-page.proposal.votes-dch' | translate }})</span><!--

              --><span  ng-show="currentProposal.feedbackError === false && currentProposal.feedbackCount != 1">{{ 'proposal-list-page.proposal.votes' | translate }})</span><!--

              --><span  ng-show="{{'currentProposal.feedbackError === true'}}">{{ 'proposal-list-page.proposal.votes-error-label' | translate }}
              ) </span>
            </span>
            
          </div>
      </div>

      <div class="item item-divider">
        {{ 'proposal-statistics-page.others-title' | translate }}
      </div>
      <div class="item">
        {{ 'proposal-statistics-page.others.type-item' | translate }} {{currentProposal.typeTranslation}}
      </div>
      <div class="item">
        {{ 'proposal-statistics-page.others.category-item' | translate }} {{currentProposal.categoryTranslation}}
      </div>
      <div class="item">
        {{ 'proposal-statistics-page.others.status-item' | translate }} 
        <span ng-hide="currentProposal.isExpired">{{ 'proposal-list-page.proposal.opened-status' | translate}}</span>
        <span ng-show="currentProposal.isExpired">{{ 'proposal-list-page.proposal.closed-status' | translate}}</span>
      </div>
      <div class="item">
        {{ 'proposal-statistics-page.others.user-item' | translate }} {{currentProposal.userID}}
      </div>
      <div class="item">
        {{ 'proposal-statistics-page.others.date-item' | translate }} {{currentProposal.creationDate}}
      </div>

    </div>
  </ion-content>
</ion-view>
